<header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
  <div class="navbar-header aside-md dk">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
      <i class="fa fa-bars"></i>
    </a>
    <a href="index.html" class="navbar-brand">
      <img src="static/images/logo_20171219091848.png" class="m-r-sm" alt="scale">
    </a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".user">
      <i class="fa fa-cog"></i>
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"  style="color:#cbcbcb;font-size:20px;">
        <span class="thumb-sm avatar pull-left">
          <img src="static/images/a0.png" alt="...">
        </span>
        管理员<b class="caret"></b>
      </a>
      <ul class="dropdown-menu animated fadeInRight">            
        <li>
          <a href="?c=login&a=out_login" data-toggle="ajaxModal" >退出</a>
        </li>
      </ul>
    </li>
  </ul>      
</header>