<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加车辆</title>
	<link rel="stylesheet" href="<?php echo CSS_URL; ?>/main.css">
	<script src="<?php echo JS_URL; ?>/jquery-3.3.1.js"></script>
</head>
<body>
	<div class="admin">
		<div class="admin-left"></div>
		<div class="admin-right">
			<div class="admin-head">
				<img src="<?php echo IMG_URL; ?>/head.png" alt="">
			</div>
			<div class="admin-associator">
				<p>会员</p>
				<p>13601031704</p>
			</div>
			<div class="auth">
				<ul>
					<li class="garage">
						<a href="">车库</a>
					</li>
					<li class="fix">
						<a href="">维修档案</a>
					</li>
					<li class="warn">
						<a href="">违章提醒</a>
					</li>
					<li class="shop">
						<a href="">常去店铺</a>
					</li>
					<li class="friend">
						<a href="">好友</a>
					</li>
				</ul>
			</div>
			<div class="admin-button">
				<a class="set" href="">设置</a>
				<a class="ask" href="">咨询客服</a>
			</div>
		</div>
	</div>
	

	
</body>
</html>