.actives{
    background-color: #182535;
}
.bg-black {
    background-color: #242b42;
    color: #fff;
}
.bg-black.dk, .bg-black .dk {
    background-color: #253255;
}
.bg-black .nav-primary > ul.nav-main > li:hover > a, .bg-black .nav-primary > ul.nav-main > li:focus > a, .bg-black .nav-primary > ul.nav-main > li:active > a, .bg-black .nav-primary > ul.nav-main > li.active > a {
    background-color: #182535;
}
.header.navbar{
    background-color: #1c6aac;
}
/*.dropdown-toggle,.dropdown-menu{
    color: #fff;
    background-color: #1c6aac;
}*/
/*#content{
    background-color: #182535;
}
.panel,.panel-heading{
    background-color: #202b49;
}*/
/*card_manage，wash_time_set*/
#job_type_select,#department_type_select,.time_type{
    display: inline-block;
    width: 85%;
}
.type_name{
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
button{
    background-color: #f2f4f8;
    border:0px; 
}
.button_click{
  color: #1aae88;
}
/*card_push*/
#job_type_select,#department_type_select,#time_type_select{
    display: inline-block;
    width: 85%;
}
.type_name{
    display: inline-block;
    vertical-align: top;
    height: 20px;
}
#button_sel_type{
  margin-top: 5px;
}
#button_sel_type div{
    padding: 2px;
}
#infoadd{
    width: 100%;
}
#info_select_deparment,#info_select_job,#info_input_name,#info_input_cardnum{
    width: 30%;
    height: 30px;
    margin-top: 10px;
}
#info_deparment,#info_job,#info_name,#info_cardnum{
    text-align: center;
    margin-left: 30px;
}
#info_deparment div,#info_job div,#info_name div,#info_cardnum div{
    width: 100px;
    display: inline-block;
}
#infoadd_title{
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
#but_submit_box>button{
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: #03a9f4;
    color:#fff;
}
#but_submit_box{
    width: 50%;
    margin-left: 60px;
    text-align: right;
}
#but_submit_box,#file_submit_box{
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}
#file_submit_box div{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
#file_submit_box,#file_submit_box div i{
    font-size: 22px;
}

/**/
#month_chart_box{
    margin-bottom: 20px;
    /*margin-top: -20px;*/
    width: 100%;
}
#month_chart{
    height: 300px;
}
/*pandect*/



.deparment_staff_num,.deparment_card_num,.deparment_device_num{
    font-size: 23px;
}

/*upload*/
form .form-group-separator {
    height: 1px;
    background: #eeeeee;
    margin-bottom: 15px;
}
.form-group{
    margin-top: 20px;
}
.fa-plus-square{
    font-size: 20px;
    margin-left: 10px;
}
/*full*/
#full{
  position: fixed;
  z-index: 1000;
  top: calc(2vh + 50px);
  bottom: auto;
  right: 1vw;
  font-size: 0.3rem;
  padding-left: 0.1rem;
}
.fa-arrows-alt{
  color:#fff;
}
/*总览页面设计图修改样式*/
.deparment_nowday_num{
    font-size: 60px;
    color: #f6726f;
}
.deparment_details{
    display: inline-block;
    width: 300px;
    height: 400px;
    border:solid 1px #263357;
    margin: 20px;
    background-color: #fff;
}
.deparment_name{
    padding-top: 20px;
    font-size: 26px;
    width: 200px;
    height: 65px;
    margin: 0 auto;
    border-bottom: solid #f6726f 1px;
}
#deparment_details_box{
    margin: 0 auto;
    min-width: 310px;
    text-align: left;
    color: #fff;
}
.pandect_content{
    background-color: #182535;
}
.box_bg{
    background-color: #202b49;
}
.bottom_box{
    border-top:solid #263357 1px;margin-top:20px;
}
.bottom_2{
    border-left:solid #263357 1px;border-right:solid #263357 1px;height:100%;padding-bottom:13px;
}
#deparment_details_guke .row{
    margin-left: 0;
    margin-right: 0;
}
#infoadd_submit{
    margin-bottom: 20px;
}
.padding_t_25{
  padding-top:25px;
}
.font_34{
  font-size:34px;
}
.font_12{
  font-size:12px;
}
iframe{
    min-width: 1200;
    min-height: 700;
    width: 100%;
    height: 100%;
    border:solid #fff 0;
}
.overflow_hidden{
    overflow:hidden;
}

.staff_wash_a{
    color: #337ab7;
}
/*电量样式*/
/*高*/
.electric_quantity_g{
    padding:3px 5px 3px 5px;
    background-color: #16ba0a;
    border-radius: 5px;
}
/*中*/
.electric_quantity_z{
    padding:3px 5px 3px 5px;
    background-color: #ffdd00;
    border-radius: 5px;
}
/*低*/
.electric_quantity_d{
    padding:3px 5px 3px 5px;
    background-color: #f01300;
    border-radius: 5px;
}
/*异常样式*/
.abnormity{
    color: red;
}
/*button选中样式*/
.but_sel_style{
    background-color: #03a9f4;
}
.pandect_department,.pandect_department:hover{
    color: #fff;
}
.staff_a,.staff_a:hover{
    color: #428bca;text-decoration: underline;
}